<div class="main">
    <h3>Categories:</h3>

    <button  class ="category" type ="button" (click)="setCategory(0)">ALL</button>
    <button  class ="category" type ="button" (click)="setCategory(1)">Personal Care</button>
    <button  class ="category" type ="button" (click)="setCategory(2)">Camera & Photo</button>
    <button  class ="category" type ="button" (click)="setCategory(3)">Printers & Scanners</button>
    <button  class ="category" type ="button" (click)="setCategory(4)">Smart Home</button>
</div>

<!-- 
categoryId 1: Personal Care
categoryId 2: Camera & Photo
categoryId 3: Printers & Scanners
categoryId 4: Smart Home 
-->